<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
    <body>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
