{% extends 'accounts/base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <h2>hi {{ user.username }}</h2>
      {% for group in groups %}
          {% for member in group.members.all %}
                <p>{{ member.username }}</p>
          {% endfor %}
      {% endfor %}
      <a href="account/logout">logout</a>
  {% endif %}
{% endblock %}