{% extends 'accounts/base.html' %}
{% block content %}
  <h2>Login</h2>
    {% if form.has_error %}
        <p>ajsdkasjldk</p>
    {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}